<li class="card" [ngClass]="isDetailsLoaded ? 'active' : '' ">
   <div class="main" (click)="onShowDetails(user.login)" >
        <div class="info">
            <img src="{{user.avatar_url}}" alt="" class="ava">
            <h4>{{user.login}}</h4>
    </div>

    <img src="../assets/arrow.svg" alt="" class="arrow" [ngClass]="isDetailsLoaded ? 'arrowUpAnim' : 'arrowDownAnim'">
   </div>

   <div *ngIf="isDetailsLoaded">
      <div class="details">
         <div class="info" >
            <h5>Following</h5>
            <span>{{userDetails.followingCount}}</span>
         </div>
   
         <div class="info">
            <h5>Followers</h5>
            <span>{{userDetails.followers}}</span>
         </div>
   
         <div class="info">
            <h5>Repositories</h5>
            <span>{{userDetails.repositories}}</span>
         </div>
      </div>
    
      <a class="fancy" [href]="userDetails.profileUrl" target="_blank">
         <span class="top-key"></span>
         <span class="text">Github</span>
         <span class="bottom-key-1"></span>
         <span class="bottom-key-2"></span>
       </a>

   </div>
</li>